body {
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
